<!--The content below is only a placeholder and can be replaced.-->

<div class="main">
  <div>
    <h1>
      TodoApp in Angular<sup>4</sup>
    </h1>
    <input class="addItem" [(ngModel)]="newItems" type="text" placeholder="Add Item" autofocus/>
    <button (click)="AddItems()">Add</button>
  </div>
  <div class = "list">
    <ul>
      <li [ngClass]="{finish:num}"  *ngFor="let item of items | async " >
         <!--<input class="check" type="checkbox"  (click)="num=false"  />-->
          {{item.$value}}
          <span (click)="removeItem(item.$key)">
            X
          </span>
       </li>
    <button (click)="deleteAll()">Delete All </button>
      
    </ul>
  </div>

  </div>


